* {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@font-face { font-family: "MyFont"; src: url(./fonts/Roboto-Regular.ttf) format("truetype"); font-weight: normal;}
@font-face { font-family: "MyFont"; src: url(./fonts/Roboto-Bold.ttf) format("truetype"); font-weight: bold;}
@font-face { font-family: "MyFont"; src: url(./fonts/Roboto-Italic.ttf) format("truetype"); font-weight: normal; font-style: italic;}
@font-face { font-family: "MyFont"; src: url(./fonts/Roboto-BoldItalic.ttf) format("truetype"); font-weight: bold; font-style: italic;}
    


*		{ font-family: "MyFont"; }
html	{ background-color:#bbb; }
body 	{ font-size:15px; background-color:#bbb; color:#fff; margin:0; padding:0;}
form, div, input, h1, h2, h3, h4, h5	{ margin:0; padding:0; }
table { font-size:1.0em; }
h1		{ font-size:1.3em; }	
h2		{ font-size:1.2em; }
h3		{ font-size:1.1em; }
input 	{ font-size:14px;}
a		{ color: #fff; text-decoration:none; outline: 0;}
a:hover	{ text-decoration:none; outline: 0; }

.clear 	{ float:none; clear:both; }

#pagePleaseWait { display:none; position:absolute; top:0; left:0; background-color:rgb(0,0,0,0.8); width:1024px; height:600px; z-index:999; color:#fff; font-size:1.0em; }
#pagePleaseWait_header_left  { float:left; height:50px; line-height:50px; width:250px; background-color:#000; text-align:center; }
#pagePleaseWait_header_right { float:left; height:50px; line-height:50px; width:774px; background-color:#000; text-align:center;  }

.wrapper1024x600 	{ font-size:22px; background-color:#000; color:#fff; width:1024px; height:600px; margin:0 auto; overflow:hidden; position:relative; }
.header	{ height:49px; width:100%; overflow:hidden; border-bottom:solid 1px #fff; line-height:50px;}
	.header_C { float:left; margin-left:10px; width:854px; text-align:left; font-size:1.4em; line-height}
	.header_R { float:left; margin-right:10px; width:150px; text-align:right; font-size:16px; }
.footer	{ height:49px; width:1004px; overflow:hidden; border-top:solid 1px #fff; line-height:50px; padding:0 10px 0 10px; }
#footer_L { float:left; min-width:300px; width:300px; height:100%; overflow:hidden; }
#footer_C { float:left; min-width:400px; width:400px; height:100%; margin:0 12px 0 12px; overflow:hidden; text-align:center; color:#888 }
#footer_R { float:left; min-width:300px; width:300px; height:100%; overflow:hidden; }

.page { position:relative; top:0; left:0; width:100%; padding:0; margin:0; height:500px; }
.UIWindow { position:absolute; top:5px; left:10px; width:1004px; height:495px; display:none; overflow:hidden;}
.UIWindowContent  { position:absolute; top:0; left:0; width:100%;}

.page-scrollable-wrapper { position:relative; height:500px; width:1024px; overflow:hidden; padding:0; margin:0; }
.page-scrollable { position:absolute; top:0; left:0; width:100%;}

.bigScrollArrowDown { position:absolute; width:100%; left:0; height:50px; background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.7)); z-index:30;}
.bigScrollArrowUp   { position:absolute; width:100%; left:0; height:50px; background-image: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.1)); z-index:30;}


.UIButton 		{ cursor:pointer; display:table; overflow:hidden; background-color:#656565; color:#000; margin:0; padding:0; text-align:center;}
.UIButton 		{ padding:0; margin:3px 0 3px 0; border-radius:5px;  font-size:1.0em; line-height:auto; }
.UIButton p 	{ display: table-cell; vertical-align:middle; margin:0; padding:3px; display:table-cell; vertical-align: middle; }

.bigButton3x4 	{ border-radius:10px; font-size:1.4em; width:322px; height:106px; min-height:106px; max-height:106px; }
.bigButton3x4 p { padding:10px; }

.bigButton4x4 	{ border-radius:10px; font-size:1.3em; width:241px; height:106px; min-height:106px; max-height:106px; }


.UIButton:active { background-color:#858585; color:#000; }
.UIButton.UIdisabled:active {background-color:#222; color:#181818; }


table.elenco { border:0; border-collapse:collapse; font-size:1.1em; width:100%; font-family: "MyFont"; color:#999999; }
table.elenco tr { border-bottom: solid 1px #999999; padding:0; margin:0; height:100px; vertical-align:middle;}
table.elenco td { margin:0; padding:0;  }
table.elenco td.description { width:400px; padding-right:10px;}

table.UIOption { border:0; border-collapse:collapse; font-size:1.0em; width:100%; font-family: "MyFont"; color:#999999; }
table.UIOption tr { border:0; vertical-align:middle;}
table.UIOption td { margin:0; padding:0; text-align:center; }
table.UIOption td div.UIButton { width:98%; border-radius:10px; font-size:1.3em;  }
table.UIOption td div.UIButton p { padding:20px 0 20px 0; }

/*
.UINumberContainer65 	{ display:inline-block; width:60px; height:65px; position:relative; overflow:hidden; }
.UINumberStrip65 		{ position: absolute; top:-125px; left:0; width:100%; text-align:center; }
.UINumberStrip65 p 		{ margin:0;  line-height:35px; padding:0; max-height:35px; overflow:hidden; height:35px; font-size:1.5em; color:#fff }
.UINumberMask65			{ width:100%; height:100%; position:absolute; top:0; left:0; background-image:url(img/fader65.png); background-repeat:repeat-x; z-index:20; }
.UINumberBorder65		{ width:56px; height:61px; position:absolute; top:0; left:0; border:solid 2px #999999; border-radius:10px; z-index:21; }
*/
.UINumberContainer 	{ display:inline-block; width:60px; height:85px; position:relative; overflow:hidden; z-index:10; margin-right:5px;}
.UINumberStrip 		{ position: absolute; top:20px; left:-773px; width:1600px; text-align:center; background-color:rgba(0,0,0,0.7); padding:400px 0 400px 0; } /* top=20 - n*50 */
.UINumberStrip p 	{ margin:0;  line-height:56px; padding:0; max-height:56px; overflow:hidden; height:56px; font-size:2.7em; color:#fff }
.UINumberMask		{ width:100%; height:100%; position:absolute; top:0; left:0; background-image:url(img/fader85.png); background-repeat:repeat-x; z-index:20; }
.UINumberBorder		{ width:56px; height:81px; position:absolute; top:0; left:0; border:solid 2px #999999; border-radius:10px; z-index:21; }

.colorGrey 		{ color:#999999; }
.UIlit 			{ background-color:#cc5f29; color:#fff; }
.UIdisabled  	{ background-color:#222; color:#181818; }
