bin/DESKTOP64_DEBUG_GPU
bin/EMBEDDED_RELEASE_GPU
bin/log.txt
src/GPU/build/
src/rheaCommonLib/build/
src/rheaGUIBridge/build/
*.a
bin/simula-chiavetta-usb/
src/GPUServer/build/Desktop-Debug64/main.o
src/GPUServer/build/
lib/
MSVC17/.vs/
MSVC17/rheaCommonLib/build/
.vs/
