src/GPU/build/
src/rheaCommonLib/build/
src/rheaGUIBridge/build/
*.a
src/GPUServer/build/Desktop-Debug64/main.o
src/GPUServer/build/
lib/
MSVC17/.vs/
MSVC17/rheaCommonLib/build/
.vs/
MSVC17/CPUBridge/build/WINRelease/CPUBridge.obj
MSVC17/CPUBridge/build/
MSVC17/GPUConsole/build/
MSVC17/GPUServer/build/WINDebug/GPUServer.tlog/CL.write.1.tlog
MSVC17/GPUServer/build/
MSVC17/rheaGUIBridge/build/
MSVC17/SocketBridge/build/
MSVC17/Debug/
MSVC17/rheaAppLib/
MSVC17/SMU/build/
MSVC17/rheaDB/build/
MSVC17/testDB/build/
*.o
QT5/build/
MSVC17/stressTestUpDownDA3/build/
MSVC17/rheaMedia2.0/build/
MenuProgTranslator/
DOC/
MSVC17/CPUBridge/x64/
MSVC17/GPUConsole/x64/
MSVC17/rheaCommonLib/x64/
MSVC17/rheaDB/x64/
MSVC17/SMU/x64/
MSVC17/SocketBridge/x64/
MSVC17/stressTestUpDownDA3/x64/
MSVC17/testDB/x64/
*.idb
*.pdb
MSVC17/testHTTP/build/
MSVC17/rheaAlipayChina/build/
MSVC17/rheaAlipayChina/x64/Debug/rheaAlipayChina.Build.CppClean.log
MSVC17/rheaAlipayChina/x64/
*.obj
MSVC17/rasPI/build/
MSVC17/rasPISerial/build/
MSVC17/rheaExternalSerialAPI/build/
bin/simula-chiavetta-usb/
bin/log.txt
*.exe
*.ilk
*.da3
bin/current/
bin/last_installed/
bin/RheaMedia20/RHEAMEDIA2 MANUAL - Rev 004 - 20200331.docx
bin/RheaMedia20/log.txt
bin/RheaMedia20/varie/
bin/asimula-chiavetta-usb
bin/simula-chiavetta-usb
bin/temp
bin/varie/prog/js/dev/compiler.jar
bin/zipt.rheazip
bin/zip3.rheazip
bin/hotspotname.txt
bin/ip.txt
bin/RASPI_DEBUG_rasPISerial
bin/RASPI_RELEASE_rasPISerial
bin/output.log
bin/qrcodeTP.png
bin/qrcodeTS.png

bin/RheaMedia20/temp/
bin/fwupdate.tar
