* {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@font-face { font-family: "MyRoboto"; src: url(./fonts/Roboto-Light.ttf) format("truetype"); }

*		{ font-family: "MyRoboto", "Roboto-Light", "Noto Sans CJK SC", "DejaVu Sans"; }
html	{ background-color:#bbb; }
body 	{ font-size:14px; background-color:#bbb; color:#fff; margin:0; padding:0;}
form, div, input, h1, h2, h3, h4, h5	{ margin:0; padding:0; }
table { font-size:1.0em; }
h1		{ font-size:1.3em; }	
h2		{ font-size:1.2em; }
h3		{ font-size:1.1em; }
input 	{ font-size:14px;}
a		{ color: #fff; text-decoration:none; outline: 0;}
a:hover	{ text-decoration:none; outline: 0; }


#lngPanel { position: absolute; top:0; left:0; display: none; width: 100%; height: 100%; top: 0; left: 0;right: 0;bottom: 0;background-color: rgba(0,0,0,0.9);z-index: 2;cursor: pointer; }
#lngSelections{ position: relative; width: 700px; top: 100px;left: 170px;color: white;font-size:14px; }

.clear 	{ float:none; clear:both; }

.wrapper1024x600 	{ font-size:24px; background-color:#000; color:#fff; width:1024px; height:600px; margin:0 auto; overflow:hidden; position:relative;}
.header	{ height:50px; width:100%; overflow:hidden; }
.page	{ height:500px; width:100%;  overflow:hidden; position:relative; }
.footer	{ height:50px; width:100%;  overflow:hidden; line-height:50px; }

.header_left { float:left; width:200px; height:100%; }
.header_left_btnHome { margin:2px 0 2px 10px; }
.header_left_btnHome img { max-height:100%; padding:5px 0 0 10px}
.header_center { float:left; width:624px; text-align:center; }
.header_right { float:left; width:200px; }

.footer_left { float:left; width:150px; min-width:150px; height:100%;}
.footer_left_btnInfo { margin:0 0 0 10px; }
.footer_center { float:left; width:724px; min-width:724px; height:100%; min-height:100%; text-align:center; }
.footer_right { float:left; width:150px; height:100%; text-align:center}


.btnStop, .btnStart { display:inline-block; width:350px; height:58px; background-image: url(img/btnStart.png); text-align:center; line-height:58px; cursor:pointer;}

.bigScrollArrowDown { position:absolute; width:100%; left:0; height:50px; background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.7));}
.bigScrollArrowUp   { position:absolute; width:100%; left:0; height:50px; background-image: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.1));}

.pageStandby_galleryContainer_window { width:1024px; height:600px; overflow:hidden; clear:both; }
.pageStandby_galleryContainer { position:absolute; top:0; left:0; height:100%; }
.pageStandby_galleryContainer_foto { float:left; width:1024px; height:600px; overflow:hidden; }
.pageStandby_galleryContainer_foto img { width:100%; height:100%;}
.pageStandby_overlay { position:absolute; bottom:0; left:0; width:100%; text-align:center; display:none; }

.pageMenuLeft	  { float:left; width:80px; height:100%; background-color:rgb(0, 0, 0);}
.pageMenuRight { float:left; width:80px; height:100%; background-color:rgb(0, 0, 0);}
.pageMenuCenter { float:left; width:864px; height:100%;}
.pageMenu_iconPage { float:left; height:100%; position:relative; }
.pageMenu_iconWrapper { float:left; overflow:hidden; }
.pageMenu_icon { width:90%; height:90%; margin:5%; text-align:center; background-color:rgb(0, 0, 0); cursor:pointer; position:relative; }
.pageMenu_icon.disabled { opacity:0.2; }
.pageMenu_icon_img img {height: 100%; margin: 0 auto; }
.pageMenu_icon_text { position: absolute; bottom:0; left:0; padding:10px; width:100%; }

.pageMenu_navigator { display: inline-block; height:100%; min-height:100%; text-align:center; }
.pageMenu_navigatorIcon { float:left; margin:0 5px 0 5px; padding:15px 12px 0 12px; min-width:30px; height:80px; min-height:50px; background-image:url(img/pageIndex-30.png); background-repeat: no-repeat; background-position: center 20%;}
.pageMenu_navigatorIcon.selected { background-image:url(img/pageIndex-100-full.png);}
.pageMenuArrow {}
.pageMenuArrow.disabled { opacity:0.2; } {}

.pageConfirm_color1 { color:#e0e0e0;}
.pageConfirm_bigFont { color:#e0e0e0; font-size:1.5em; font-weight:bold; }
.pageConfirm_hintFont { color:#a0a0a0; font-size:1.4em; font-weight:normal; font-style: italic; line-height:100%}
.pageConfirm_center 	{ float:left; width:512px; height:100%; position:relative; overflow:hidden; text-align:center; }
.pageConfirm_selectionImage { position:relative;  top:80px; left:118px; width:336px; min-width:336px; height:336px; min-height:336px; }
.pageConfirm_selectionBottom { position:relative; top:90px; left:118px; width:336px; min-width:336px; height:70px;}
.pageConfirm_selectionInfo { position:absolute; top:225px; left:110px; }
.pageConfirm_selectionName { position:absolute; top:365px; left:118px; width:336px; text-align:center; }

.pageConfirm_right  	{ float:left; width:512px; height:100%; overflow:hidden; position:relative;}
.pageConfirm_right3box { position:relative; top:40px; left:70px; width:372px; min-width:372px; height:376px; min-height:376px;  }
.pageConfirm_bottomBox { position:relative; top:50px; left:70px; width:372px; min-width:372px; height:70px; text-align:center; }
.pageConfirm_separator { display:inline-block; background-image:url(img/line.png); width:275px; height:50px; background-repeat: no-repeat; background-position: center; }

.pageConfirm_iconGrinder { width:109px; height:58px; min-width:109px; min-height:58px; overflow:hidden; text-align:center; background-image:url(img/grinder-off.png); background-repeat: no-repeat; background-position: left top; }
.pageConfirm_iconGrinder table { height:100%; width:100%; }
.pageConfirm_iconGrinder table tr td { line-height:100%; font-size:0.8em; font-weight:bold; }
.pageConfirm_iconGrinder.selected { background-image:url(img/grinder-on.png); }
.pageConfirm_iconGrinder.selected table tr td { color:#000; }

.pageConfirm_iconSingleShot { width:109px; height:101px; min-width:109px; min-height:101px; overflow:hidden; text-align:center; background-image:url(img/single-shot-off.png); background-repeat: no-repeat; background-position: left top; }
.pageConfirm_iconSingleShot table { height:60%; width:100%; margin-top:40%}	
.pageConfirm_iconSingleShot table tr td { line-height:100%; font-size:0.8em; font-weight:bold; }
.pageConfirm_iconSingleShot.selected { background-image:url(img/single-shot-on.png); }
.pageConfirm_iconSingleShot.selected table tr td { color:#000; }

.pageConfirm_iconDblShot { width:109px; height:101px; min-width:109px; min-height:101px; overflow:hidden; text-align:center; background-image:url(img/dbl-shot-off.png); background-repeat: no-repeat; background-position: left top; }
.pageConfirm_iconDblShot table { height:60%; width:100%; margin-top:40%}
.pageConfirm_iconDblShot table tr td { line-height:100%; font-size:0.8em; font-weight:bold; }
.pageConfirm_iconDblShot.selected { background-image:url(img/dbl-shot-on.png); }
.pageConfirm_iconDblShot.selected table tr td { color:#000; }

.pageConfirm_iconCupContainer { float:left; font-size:0.8em; width:110px; }
.pageConfirm_iconCupContainer.disabled { opacity:0.3;}
.pageConfirm_iconCup { width:70px; height:60px; min-width:70px; min-height:60px; overflow:hidden; text-align:center; background-repeat: no-repeat; background-position: center top; margin:0 15px 0 15px; }
.pageConfirm_iconCup.cup0 { background-image:url(img/cup0-off.png);  }
.pageConfirm_iconCup.cup0.selected { background-image:url(img/cup0-on.png); }
.pageConfirm_iconCup.cup1 { background-image:url(img/cup1-off.png); }
.pageConfirm_iconCup.cup1.selected { background-image:url(img/cup1-on.png); }
.pageConfirm_iconCup.cup2 { background-image:url(img/cup2-off.png); }
.pageConfirm_iconCup.cup2.selected { background-image:url(img/cup2-on.png); }


	
.pageInfo_content { padding:10px;  }
.pageInfo_btn { float:left; width:325px; border:solid 1px #fff; margin:0 3px 0 3px; height:96%; text-align:center; overflow:hidden; cursor:pointer; background-repeat: no-repeat; background-size: cover; background-position:center}
.pageInfo_btn h2 { margin:6px 0 0 0; padding:0; }

.pageInfoDetailContent { height:530px; position:relative; padding:10px; background-repeat: no-repeat; background-size: initial; background-position:left top; }
.pageInfoDetailContent_title { font-size:2.0em; font-weight:bold; text-align:center; margin-bottom:10px; height:60px; ; }
.pageInfoDetailContent_content { height: 460px; overflow:hidden; position:relative; }
.pageInfoDetailContent_content p { margin-top:0; }

.pageSelInProg_image { height:336px; overflow:hidden; margin-top:0; }
.pageSelInProg_image img { height:100%; }
.pageSelInProg_iconInProgress { height:80px; width:100%; text-align:center; }
.pageSelInProg_iconInProgress img { height:100%; }
.pageSelInProg_title { color:#e0e0e0; font-size:1.5em; font-weight:bold;}

.pageSelInProg_textInProgress { height:30px; width:100%; text-align:center; font-weight:bold;}
